.loader {
  display: flex;
  padding-bottom: 120px;

  div {
    animation: loader 2s ease-out infinite;
    border: solid 2px lightgrey;
    border-radius: 100%;
    margin: auto;
    height: 75px;
    width: 75px;

    @keyframes loader {
      0% {
        border: none;
      }

      20% {
        border: solid 2px lightgrey;
        border-radius: 100%;
        height: 50px;
        margin: auto;
        width: 50px;
      }

      100% {
        border: double 4px white;
        height: 275px;
        width: 275px;
      }
    }
  }

  @media (max-device-width: 428px) and (orientation: landscape) {
    padding-bottom: 30px;

    div {
      animation: smLoader 2s ease-out infinite;
      height: 50px;
      width: 50px;

      @keyframes smLoader {
        0% {
          border: none;
        }

        20% {
          border: solid 2px lightgrey;
          border-radius: 100%;
          height: 25px;
          margin: auto;
          width: 25px;
        }

        100% {
          border: double 4px white;
          height: 175px;
          width: 175px;
        }
      }
    }
  }
}
